* {
    box-sizing: border-box;
}
body {
    background-color:#d6d1b0;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-style: normal;
    color:#3b3b3b
}
/*colors used: 
primary color (beige):#f2efe0
secondary color (olive):#8b8552*/ 

.button {
    display: inline-block;
    border-radius: 3px;
    border-bottom: 2px solid;
    background-color:#efaca5;
    color:black;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    transition: 0.2s opacity;
    

    
}
.button:active {
    background-color: #3e8440;
}
.button:hover{
    opacity: 0.8;
}

.button.contact{
    text-transform: uppercase;
    border: 2px solid purple;
    background-color: #efaca5;
    color:purple;
    padding: 10px;
    float:left;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: 0.7s opacity;
}

.button.contact:hover {
    opacity: .8;
    color: #ffffff
   
}

h1,h2,h3,h4 {
    line-height: 1.4;
}
h1 {
    font: size 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 500;

}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width:100%
}
a{
    color:purple;
    text-decoration: none;
}
a:visited{
    color:palevioletred;
}
a:hover{
    color: brown;
    text-decoration: underline;
}
a:active{
    color:green;
}
a:focus{
    color:black;
}


/* Layout Styling */

.container {
    padding: 0 15px;
}
.container h1, h2 {
    text-align: center;
}
.row:after {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    content: "";
    clear:both;
    display: table;
}

#Work .row { 
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#Hero h1, h2 {
    text-align: center; /* centers text */
}
.center{
    text-align: center;
}
.logo {
    max-width: 150px;
}
header { 
    background-color:#ffe4c4;
    width: 100%;
    height: 160px;
    padding: 5px 0;
    position: fixed;
    border-bottom: 3px solid #4a4a4a;
}
main {
    padding-top: 133px;
}
footer {
    margin-inline: 10px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav > ul > li > a{ 
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a
}
nav > ul > li> a:visited{
    color:palevioletred;
}
nav > ul > li> a:hover{
    color: brown;
    text-decoration: underline;
}
nav > ul > li> a:active{
    color:green;
}
nav > ul > li> a:focus{
    color:black;
}
#Hero {
    background-color: #d6d1b0;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%
}
#Hero span {
    display:block;
}
#contact {
text-align: left;
}
#contact h2 {
    text-align:left;
    margin-bottom: 10px;
}
.social {
    display: block;
    clear: both;
    text-align: center;
}
.Icon {
    float: left; 
    margin-right: 5px;
}
.Copyright {
   text-align: center; /*Unsure of how to align with the bottom of the page */
}
Img {
    border-radius: 27px;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  text-align: left;
}
.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.parent h2 {
    text-align: center; /*Unsure of how to align "Skills and Tools" to the center. */
}
[class*="col-"] {
    float: left;
    padding: 10px;
}
@media screen and (min-width: 640px) { 
    header { 
        text-align: unset;
        padding: 20px 0 13px;}
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav > ul > li {
    display: inline-block;
    }
    .col-md-6 {
        width: 50%;
    }
    #about-page h3 {margin-top: 0;}
    .logo {
        min-width: 240px;
    }
}
@media screen and (min-width: 1024px) {
    .col-lg-7{
        width: 60%;
    }
    .col-lg-5 {
        width: 40%;
    }
}
@media screen and (min-width: 1440px) {
    .container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1920px) {
    .container{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}
.citypic {
    width: 100%;
    max-width: 100%;
    height: auto;
}
 @keyframes color-change {
    from {fill:#ffffff;}
    to {fill:#edc655;}
 }
 .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
 }
 @keyframes boat-move {
    to {transform: translate(-380px,5px);}
 }
.boat {
    animation-duration: 15s;
    animation-name: boat-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
 }
 @keyframes boat-middle {
    from {transform: translate(0px,0px);}
    to {transform: translate(500px, 0px);}
 }
 .boat-left {
    animation:15s boat-middle infinite alternate linear;
 }
 @keyframes boat-upper {
    from {transform: translate(0px,0px);}
    to {transform: translate(-300px, 0px);}
 }
 .boat-right {
    animation:15s boat-upper infinite alternate linear;
 }